.title-box-tip{
    background-color: purple;
    height: 25px;
    border-left: black solid 5px;
    border-right: black solid 5px;
}

.title-box{
    background-color: purple;
    border-left: black solid 5px;
    border-right: black solid 5px;
    border-bottom: black solid 5px;
    z-index: -1;
}

.title-stripe{
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 35px;
    z-index: -1;
}

.small-box{
    z-index: 1000px;
    padding: 5px;
    display: inline;
    background-color: gold;
    height: 80px;
    top: 25px;
    left:0;
    position: absolute;
    border: black solid 5px;
}

.martop{
    margin-top: 3px;
}

.tiny-word{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-style: bold;
}

.title-word{
    color: purple;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    display: inline;
    text-align: center;
}

.glg-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.temp-border{ 
    border: red dotted 2px;
}

/* Comic Page! */
.comic-box1 {
    border: black solid 5px;
    margin-top: 5px;
    margin-left: 15px;
}

.comic-box2 {
    border: black solid 5px;
    margin-top: 5px;
    margin-left: 10px;
    width: 625px;
    background-color: purple;
}

.glg-about{
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 10px;
    margin-top: 30px;
    font-family: 'Shadows Into Light', cursive;
}

.comic-box3 {
    margin-left: 15px;
    margin-top: 5px;
}

.comic-box4 {
    margin-left: 10px;
    margin-top: 5px;
    border: black solid 5px;
    background-color: gold;
}

.comic3-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}