#glg{
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    color:rgb(182, 163, 24);
}

#glg2{
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color:rgb(182, 163, 24);
}

#groupheader{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 20px;
    color: black;
}

#grouptext{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 14px;
    color: black;
}

#grouptext2{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 26px;
    color: black;
}

#grouptext3{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 20px;
}

#grouptext4{
    font-family: 'Permanent Marker', cursive;
    text-align: left;
    font-size: 20px;
}

#navtext{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 20px;
}

.card-formats{
    margin-top: 25px;
    margin-bottom: 25px;
}

.centerit{
    text-align: center;
}